:root {
  --white: #FFFFFFff;
  --cadet-grey: #9FADB9ff;
  --black-coral: #545D64ff;
  --dark-liver: #474244ff;
  --blue-jeans: #48B4FFff;
  --carnation-pink: #F79FC8ff;
  --madder-lake: #CF3F3Fff;

}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--white);
  background-color: var(--blue-jeans);
  text-shadow: 0px 0px 3px var(--dark-liver);
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-shadow: var(--text-shadow-default);
}


h2 {
  font-size: 4.5rem;
  text-shadow: 0px 0px 2px  var(--dark-color);

}

h3 {
  font-size: 3rem;
}

.hidden {
  display: none;
}


/* header style begin */
.header-container {
  display: flex;
  
}

.head {
  background-color: var(--dark-color);
  position: relative;
}
header {
  background: linear-gradient(270deg, rgba(180,224,255,1) 0%, rgba(99,190,254,1) 100%); 
  background: rgb(180,224,255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;

  width: 100%;
  flex-wrap: nowrap;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 6rem;
  text-shadow: var(--text-shadow-default);
  padding: 2rem 2rem;
}

.nav-links-row {
  display: none;
}

.hamburger {
  margin: auto 0;
  fill: white;
  width: 60px;
  height: 60px;
  left: 15px;
  
}

.hamburger:hover {
  cursor: pointer;
  fill: white;
  opacity: .8;
}



/* Navigation Links Style Begin */
.nav-links-container {
  display: none;
  background: var(--lightred-color);
  height: 100vh;
  width: 100%;
  order: -1;
}

ul {
  padding: 4rem 1rem;
  margin: 0;
}


li {
  list-style: none;
  padding: 2rem 0;
  font-size: 4rem;
}

a h1 {
  font-size: 5rem;
}
a {
  font-size: 4rem;
  text-decoration: none;
  color: var(--white-color-color);
  text-shadow: 1px 1px 5px  var(--dark-color);
}

.links-nav {
  background: none;
  border-radius: 20px;
  padding: .2rem 5rem;
}

h1:hover {
  color: var(--black-coral);
  cursor: pointer;
  
}
.links-nav:hover {
  background: var(--blue-color);
  color: var(--white-color);
}

/* header style end */

/* About me style begin */
.section-container {
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.beat-store-link {
  background: var(--cadet-grey);
  padding: .6rem 5rem;
  border-radius: 20px;
  border: 3px solid var(--madder-lake);

}

.beat-img {
  width: 50%;
  height: auto;
  border-radius: 100%;
  border: 3px solid var(--white-color);
}

.beat-img:hover {
  opacity: .9;
}

/* Button style */
.btn {
  padding: .4rem 0;
  width: 11rem;
  border: none;
  border-radius: 15px;
  font-size: 2rem;

}

.btn-primary {
  color: var(--white-color);
  background: var(--lightred-color);
}

.btn:hover {
  opacity: .9;
  cursor: pointer;
}

.home-return-btn {
  position: absolute;
  right: 15px;
  top: 40px;
}

.home-return {
  font-size: 2.5rem;
}

.audio-controls {
  background: none;
  border: none;
  font-size: 70px;
  color: var(--white);
}

.audio-controls:hover {
  cursor: pointer;
  opacity: .9;
}

/* .download-btn {
  margin-bottom: 2rem;
  background-color: none;
  border: 3px solid var(--white);
  font-size: 3rem;
  border-radius: 15px;
  padding: .5rem 4rem;
}

} */

.submit-btn {
  font-size: 3rem;
  width: 100%;
  background-color: var(--madder-lake);
}

/* Button/Links style end */

/* Loop packs style begin */
.loop-pack-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}
/* Footer style begin */
footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  background-color: var(--blue-color);
  width: 100%;
}

.footer-header {
  font-size: 4rem;
  padding-top: 1.5rem;
  text-shadow: 0px 0px 2px  var(--dark-color);

}

footer ul, footer li {
  padding: 0;
}

.socials-list {
  display: flex;
  width: auto;
  justify-content: space-around;
  padding: 1.5rem 1rem 0;
}

.socials {
  font-size: 45px;
}

footer li {
  text-align: left;
}

.contact-links {
  font-size: 2rem;
  margin: 0;
}

.contact-links:hover {
  opacity: .85;
}

.copyright {
  text-align: center;
  font-size: 2rem;
  margin-right: 3rem;
  margin-top: .4rem;
  text-shadow: 0px 0px 1px  var(--dark-color);

}

.play-pause {
  font-size: 4rem;
}

/* Modal Styling begin */ 
.modal {
  background-color: var(--black-coral);
  border-radius: 10px;
  border: 10px solid var(--white-color);
  height: 50%;
  left: 50%;
  margin: auto;
  overflow: auto;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  z-index: 99;

}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.modal-list {
  list-style: disc;
}
.rules {
  font-size: 2.6rem;
  padding: 2rem;
  margin: 2rem;
  overflow: scroll;
}

.modal-list-item {
  font-size: 2.3rem;
  text-align: left;
  padding: .4rem 1rem;
}

.close {
  font-size: 7rem;
}

.close:hover {
  cursor: pointer;
  color: var(--dark-color);
}


/* Loops style begin */

.loop-videos {
  display: flex;
  background: var(--one);
  height: 400px;
}

.iframe {
  height: 300px;
}
/* card style */

.card {
  align-items: center;
  background-color: var(--dark-liver);
  border-radius: 20px;
  box-shadow: 2px 2px 5px var(--five);
  border: 3px solid var(--carnation-pink);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 2rem;
  max-width: 85%;
  position: relative;
  text-align: center;
  width: 85%;
}

.img-container {
  max-width: 90%;
}


.card h3 {
  padding: 1.6rem;
}

.card-p {
  margin: .8rem 0 0;

  text-align: center;
  padding: 0 1.4rem;
  color: var(--dark-color);
  font-size: 2.4rem;
}

.preview-this {
  background-color: var(blue);
}
.loop-pack-img {
  max-width: 80%;
  border: 3px solid var(--white-color);
  border-radius: 20px;

}


.song-prod-img {
  max-width: 60%;
  border: 3px solid var(--white-color);
  border-radius: 20px;

}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wrapper .card-p {
  margin-bottom: .8rem;
  border-radius: 20px;
  padding: 1.2rem;
  text-transform: uppercase;
}

.body-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--dark-color);
  text-align: center;
}

/* Form style begin */
.form-wrapper {
  background-color: var(--black-coral);
  border-radius: 20px;
  border: 3px solid var(--carnation-pink);
  width: 85%;
  padding: 3rem;
}
.loop-request {
  display: flex;
  flex-direction: column;
}

.form-input {
  text-align: center;
  background-color: var(--white);
  border: 3px solid var(--cadet-grey);
  padding: 1.4rem 5rem;
  font-size: 2.4rem;
  margin-bottom: 1.4rem;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  .head {
    flex-direction: row;
    padding: 3rem;
  }
  .hamburger {
    display: none;
  }
  .nav-links-row {
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: center;
  }
  .menu-links-a {
    font-size: 4rem;
    padding: 2rem;
  }
  
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 5rem;
  }
  .hi {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width: 958px) {
  .loop-pack-container {
    flex-direction: row;
  }
}



/* Carousel style begin */

.carousel-section {
  display: flex;
  justify-content: center;
}
.carousel {
  width: 90vw;
  border: 3px solid var(--black-coral);
  height: 100vh;
  position: relative;
  text-align: center;
  box-shadow: 0px 3px 8px black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel-header {
  position: absolute;
  top: 0;
  color: white;
  z-index: 10000;
  font-size: 8rem;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pack {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  padding: 0;
}
.prod {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
  padding: 0;
}

.pack > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.prod > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pack[data-activeLoop] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0;
}
.prod[data-activeProd] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0;
}

.carousel-btn {
  position: absolute;
  background: none;
  z-index: 2;
  border: none;
  font-size: 8rem;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  border-radius: .25rem;
  padding: 0 .5rem;
  
}
.play-btn, .pause-btn {
  position: relative;
  background: none;
  z-index: 2;
  border: none;
  font-size: 10rem;
  top: 50%;

  transform: translateY(-50%);
  color: white;
  cursor: pointer;
  border-radius: .25rem;
}

.download-btn {
  position: relative;
  background: rgb(180,224,255);
  background: linear-gradient(270deg, rgba(180,224,255,1) 0%, rgba(99,190,254,1) 100%);
  z-index: 2;
  border: none;
  top: 70%;
  left: 0;
  font-size: 5rem;
  padding: .5rem 4rem;

  color: black;
  cursor: pointer;
  border-radius: 20px;
}


.download-btn:hover {
  opacity: .8;

}

.download-btn-container {
  background: white;
  color: black;
  position: absolute;
  bottom: 0;
}


.carousel-btn:hover, 
.play-btn:hover 
 {
  color: #444;
}

.carousel-btn.prev {
  left: 1rem;
}
.carousel-btn.next {
  right: 1rem;
}

.spacer {
  height: 200px;
  background: yellow;
}