

h1 {
    font-size: 6rem;
    margin: 0;
    padding: 0;
}

h2 {
    padding: 2rem 0 1rem;
}

.loop-btn {
   
    position: absolute;
    right: 15px;
    top: 40px;
}

/* Loop videos style */
.loop-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--dark-color);
    text-align: center;
}

.loop-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iframe {
    width: auto;
    border-radius: 10px;
}

/* Loop Pack style begin */
.loop-packs {
    background: var(--blue-color);
    text-align: center;
}

.loop-pack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1000px) {
    .loop-pack-container {
        flex-direction: row;
        flex-basis: 3;
    }

    .card {
        height: 50%;
        width: 20%;
    }
}