:root {
  --white-color: #ffffff;
  --dark-color: #3c4144;
  --grey-color: #868d94;
  --blue-color: #63befe;
  --pink-color: #f8a0c8;
  --red-color: #cf3f3f;
  --lightred-color: #f56161;
  --text-shadow-default: 0px 0px 2px black;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  

}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--white-color);
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  text-shadow: var(--text-shadow-default);
}

h2 {
  font-size: 4.5rem;
  text-shadow: 0px 0px 2px  var(--dark-color);

}

h3 {
  font-size: 3rem;
}


/* header style begin */
.header-container {
  display: flex;
  
}
header {
  background: linear-gradient(270deg, rgba(180,224,255,1) 0%, rgba(99,190,254,1) 100%); 
  background: rgb(180,224,255);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100px;
  flex-wrap: nowrap;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 10rem;
  text-shadow: var(--text-shadow-default);
  padding-left: 2rem;
}

.hamburger {
  margin: auto 0;
  fill: white;
  width: 60px;
  height: 60px;
  left: 15px;
  
}

.hamburger:hover {
  cursor: pointer;
  fill: white;
  opacity: .8;
}



/* Navigation Links Style Begin */
.nav-links-container {
  display: none;
  background: pink;
  height: 100vh;
  width: 100%;
  order: -1;
}

ul {
  padding: 4rem 1rem;
  margin: 0;
}


li {
  list-style: none;
  padding: 2rem 0;
  font-size: 4rem;
}

a h1 {
  font-size: 4rem;
}
a {
  font-size: 4rem;
  text-decoration: none;
  color: var(--white-color-color);
  text-shadow: 1px 1px 5px  var(--dark-color);
}

.links-nav {
  background: none;
  border-radius: 20px;
  padding: .2rem 5rem;
}

h1:hover {
  color: rgb(180,224,255);
  color: linear-gradient(270deg, rgba(180,224,255,1) 0%, rgba(99,190,254,1) 100%);  -webkit-text-stroke: #63befe;
  
}
.links-nav:hover {
  background: var(--blue-color);
  color: var(--white-color);
}

/* header style end */

/* About me style begin */
.about-me {
  background-color: var(--dark-color);
  text-align: center;
  width: 100%;
  height: 10000px;
}

.beat-img {
  width: 50%;
  height: auto;
  border-radius: 100%;
  border: 3px solid var(--white-color);
}

.beat-img:hover {
  opacity: .9;
}

/* Button style */
.btn {
  padding: .4rem 0;
  width: 11rem;
  border: none;
  border-radius: 15px;
  font-size: 2rem;

}

.btn-primary {
  color: var(--white-color);
  background: var(--lightred-color);
}

.btn:hover {
  opacity: .9;
  cursor: pointer;
}

.home-return {
  font-size: 2.5rem;
}

.audio-controls {
  background: none;
  border: none;
  font-size: 40px;
}

.audio-controls:hover {
  cursor: pointer;
  opacity: .9;
}

.download-btn {
  margin-bottom: 2rem;
}



.download-btn-container {
  display: flex;
}

/* Button/Links style end */

/* Footer style begin */
footer {
  text-align: center;
  background-color: var(--blue-color);
}

.footer-header {
  font-size: 4rem;
  padding-top: 1.5rem;
  text-shadow: 0px 0px 2px  var(--dark-color);

}

footer ul, footer li {
  padding: 0;
}

.socials-list {
  display: flex;
  width: auto;
  justify-content: space-around;
  padding: 1.5rem 1rem 0;
}

.socials {
  font-size: 45px;
}

footer li {
  text-align: left;
}

.contact-links {
  font-size: 2rem;
  margin: 0;
}

.contact-links:hover {
  opacity: .85;
}

.copyright {
  text-align: center;
  font-size: 2rem;
  margin-right: 3rem;
  margin-top: .4rem;
  text-shadow: 0px 0px 1px  var(--dark-color);

}


